body
{
    background: url("stuff.jpeg");
}

    .login_div1 , .login_div2
    {
        background: white;
        padding: 10px;
        float: none;
        border-radius: 5px;
        border-color: rgb(52, 132, 105);
        border-width: thin;
        border-style:solid;
        
    }


#player1_name , #player2_name
{
    display: inline-block;
    margin-left: 20px;
    font-family: fantasy;
}
#output{
    background: white;
    border-radius: 10px;
    border-top: 10px solid rgb(14, 141, 99);
    padding: 10px;
    float: none;
    text-align: left;
}

h1{
    font-family: fantasy;
    color: rgb(14, 141, 99);
    
}
h3{
    font-family: fantasy;
    color: rgb(42, 162, 122);
}
label{
    font-family: fantasy;
    color: rgb(42, 162, 122);

}
#login{
    background-color: white;
    border-style: solid;
    border-color: #29AB87;
    color: green;
    border-width: 2px;
    margin-top: 10px;
    padding: 6px;
    font-size: 16px;
    font-family: fantasy;
}
h4{
    font-family:fantasy;
    color:rgb(42, 162, 122);
}
h2{
    font-family: fantasy;
    color:rgb(14, 141, 99);
}
#send{
    background-color: white;
    border-style: solid;
    border-color: #29AB87;
    color: green;
    border-width: 2px;
    margin-top: 10px;
    padding: 6px;
    font-size: 16px;
    font-family: fantasy; 
}
input{
    font-family:fantasy;
}
#answer{
    font-family: fantasy;
}
#input_check_box{
    font-family: fantasy ;
}
#check{
    background-color: white;
    border-style: solid;
    border-color: #29AB87;
    color: green;
    border-width: 2px;
    margin-top: 10px;
    padding: 6px;
    font-size: 16px;
    font-family: fantasy;   
}
#player1_score{
    font-family: fantasy;
}
#player2_score{
    font-family: fantasy;
}